@import 'variables';

body {
  cursor: grab;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  h1 {
    grid-area: 3 / 3;
    font-family: $header-font;
  }
  #workspace-div {
    grid-area: 2 / 2;
  }
  #amenities-div {
    grid-area: 2 / 4;
  }
  #join-div {
    grid-area: 4 / 2;
  }
  #contact-div {
    grid-area: 4 / 4;
  }
}

a {
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;
  &hover {
    cursor: pointer;
  }
}
