#bubble-1 {
  grid-area: 1 / 2;
}
#bubble-2 {
  grid-area: 3 / 4;
}
#bubble-3 {
  grid-area: 4 / 7;
}
#bubble-4 {
  grid-area: 5 / 6;
}
#bubble-5 {
  grid-area: 5 / 1;
}
#bubble-6 {
  grid-area: 4 / 2;
}
#bubble-7 {
  grid-area: 5 / 4;
}
#bubble-8 {
  grid-area: 9 / 8;
}
#bubble-9 {
  grid-area: 9 / 3;
}
#bubble-10 {
  grid-area: 7 / 5;
}
#bubble-11 {
  grid-area: 6 / 3;
}
#bubble-12 {
  grid-area: 7 / 7;
}
#bubble-13 {
  grid-area: 8 / 2;
}
#bubble-14 {
  grid-area: 1 / 7;
}
#bubble-15 {
  grid-area: 7 / 1;
}
#bubble-16 {
  grid-area: 2 / 8;
}
