@mixin center-it {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle($number) {
  height: $number;
  width: $number;
  border: 1px solid white;
  border-radius: 50%;
}
@mixin bubble-inNout {
  opacity: .8;
  box-shadow: 8px 8px 50px black, inset 8px 3px 25px white;
}
@mixin inset-shadow {
  box-shadow: inset 8px 3px 18px white;
}

@mixin mobile {
  @media screen and (max-width: 360px) {
    @content;
  }
}
