@mixin center-it {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle($number, $color) {
  height: $number;
  width: $number;
  border: 1px solid $color;
  border-radius: 50%;
}
@mixin bubble-inNout {
  opacity: .8;
  box-shadow: 8px 8px 18px black, inset 8px 3px 25px white;
}
@mixin inset-shadow($color) {
  box-shadow: inset 8px 3px 18px $color;
}
