@import 'variables';
@import 'mixins';

body {
  cursor: grab;
  text-align: center;
}

// z-index grid for bubble
.container-two {
  position: fixed;
  top: 10%;
  z-index: -2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  h1 {
    grid-area: 2 / 3;
    font-family: $header-font;
    font-size: 4em;
  }
  #empty-workspace-div {
    grid-area: 1 / 2;
    background-color: red;
    opacity: .7;
    box-shadow: 8px 8px 18px black;
  }
  #empty-amenities-div {
    grid-area: 1 / 4;
  }
  #empty-join-div {
    grid-area: 3 / 2;
  }
  #empty-contact-div {
    grid-area: 3 / 4;
  }
}


// main grid
.container {
  position: fixed;
  top: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  h1 {
    grid-area: 2 / 3;
    font-family: $header-font;
    font-size: 4em;
  }
  #workspace-div {
    grid-area: 1 / 2;
    box-shadow: inset 8px 3px 18px red;
  }
  #amenities-div {
    grid-area: 1 / 4;
  }
  #join-div {
    grid-area: 3 / 2;
  }
  #contact-div {
    grid-area: 3 / 4;
  }
}
a {
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  &:hover {
    cursor: pointer;
    color: white;
    text-shadow: 3px 3px 10px black;
  }
}
#workspace-div, #empty-workspace-div {
  @include center-it;
  @include circle(10em, red);
  a {
    font-size: 1.3em;
  }
}
#amenities-div, #empty-amenities-div {
  @include center-it;
  @include circle(7em, blue);
}
#join-div, #empty-join-div {
  @include center-it;
  @include circle(8em, green);
  a {
    font-size: 2em;
  }
}
#contact-div, #empty-contact-div {
  @include center-it;
  @include circle(5em, orange);
}

div {
  @include center-it;
}
