@import 'variables';
@import 'mixins';
@import 'keyframes';
@import 'bubbles';

body {
  cursor: grab;
  text-align: center;
  background-image: radial-gradient(white, pink, #D1E88E,  #7BDBC5);
}

// z-index grid for bubble
.container-two {
  position: fixed;
  z-index: -2;
  display: grid;
  left: 15%;
  height: 75%;
  width: 80%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  @include media-view(600px) {
    display: none;
  }
  #bubble-1, #bubble-5, #bubble-9, #bubble-14{
    align-self: center;
    @include circle(5em);
    @include bubble-inNout;
    opacity: 0;
  }
  #bubble-3, #bubble-7, #bubble-8, #bubble-11, #bubble-15, #bubble-2, #bubble-12, #bubble-13 {
    align-self: right;
    @include circle(9em);
    @include bubble-inNout;
    opacity: 0;
  }
  #bubble-4, #bubble-16, #bubble-6, #bubble-10{
    @include circle(4em);
    @include bubble-inNout;
    opacity: 0;
  }
}


.container {
  position: fixed;
  top: 10%;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  @include media-view(600px) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    top: 0;
  }
  h1 {
    color: #3C4547;
    grid-area: 2 / 3;
    font-family: $header-font;
    font-size: 8rem;
    @include media-view(600px) {
      font-size: 6rem;
    }
  }
  #workspace-div {
    grid-area: 1 / 2;
  }
  #amenities-div {
    grid-area: 1 / 4;
  }
  #join-div {
    grid-area: 3 / 2;
  }
  #contact-div {
    grid-area: 3 / 4;
  }

}


a {
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;
  color: #C94D49;
  &:hover {
    cursor: pointer;
    color: black;
    text-shadow: 3px 3px 10px black;
  }
}
#workspace-div {
  @include center-it;
  @include circle(10em);
  @include bubble-inNout;
  a:hover {
    animation: hovering 3s linear;
  }
  a {
    font-size: 1.3em;
  }
  @include media-view(600px){
    @include wide-bubble(90%, 100px);
  }
}
#amenities-div {
  @include center-it;
  @include circle(7em);
  @include bubble-inNout;
  a:hover {
    animation: hovering 3s linear;
  }
}
#join-div {
  @include center-it;
  @include circle(8em);
  @include bubble-inNout;
  a:hover {
    animation: hovering 3s linear;
  }
  a {
    font-size: 2em;
  }
}
#contact-div {
  @include center-it;
  @include circle(5em);
  @include bubble-inNout;
  a:hover {
    animation: hovering 3s linear;
  }
}
